<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Taska</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="logoConteiner">
                <img src="/img/logoImg.jpg" th:src="@{/img/logoImg.jpg}">
            </div>
            <div class="navPanel">
                <div id="calc" class="navPanelItem">
                    <a href="/calc">
                        Калькулятор 🌐
                    </a>
                </div>
                <div id="weather" class="navPanelItem">
                    <a href="/weather">
                        Погода 🌦️ 
                    </a>
                </div>
                <div id="university" class="navPanelItem">
                    <a href="/university">
                        Университеты 📚
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="conteiner">
                <div class="hellowPictureConteiner">
                    <img src="/img/hellowImg.jpg" th:src="@{/img/hellowImg.jpg}">
                </div>
                <div class="hellowText">
                    Добро пожаловать на наш уникальный портал, где объединены две важные сферы – метеорология и образование! Мы рады приветствовать вас на месте, где ваши интересы в прогнозе погоды и учебе в университетах соединяются.
                    <br>
                    🌦️ Прогноз Погоды: Отслеживайте актуальные данные о погоде в вашем городе с нашим удобным калькулятором. Планируйте свой день, неделю или отпуск, всегда имея под рукой точные и надежные прогнозы. Мы предоставляем вам инструменты для комфортного планирования в любое время года.
                    <br>
                    📚 Университеты всех стран: Ищете университет для своего образования? У нас собрана обширная база данных учебных заведений со всего мира. Получайте информацию о программе обучения, рейтингах, стипендиях и многом другом. Мы помогаем вам сделать осознанный выбор в своем образовательном пути.
                    <br>
                    Не зависимо от того, ищете ли вы лучший вариант для обучения или хотите знать, какой будет погода на выходных – мы здесь, чтобы сделать вашу жизнь проще и интереснее. Добро пожаловать в мир, где удобство и знание идут рука об руку! 🌐✨
                </div>
            </div>
        </div>
        <div class="footer">
            @2024
        </div>
    </div>
</body>
</html>